<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-center-page-title [title]="'Angular Test App'"></app-center-page-title>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 borderRight">
      <span>Mutable Data Table</span>
      <app-mutable-data-table [data]="animal_data" [hideField]="['id']"></app-mutable-data-table>
    </div>
    <div class="col-xs-6">
      <div [ngStyle]="{'min-height.px':200}">
          <span>d3.js</span>
          <app-d3-bar-chart [data]="city_data"></app-d3-bar-chart>
      </div>
    </div>
  </div>
  <div class="row">
    <hr class="borderTop"/>
    <div class="col-xs-12">
      <span>Google Maps</span>
      <app-google-maps [center]="map_center" [markers]="map_markers" > </app-google-maps>
      <app-google-maps-marker-table [gmap]="MAPS" [hideField]="['id']" (onMapUpdate)="updateMap($event)"> </app-google-maps-marker-table>
    </div>
  </div>
  <div class="row">
    <hr class="borderTop"/>
    <div class="col-xs-6">
      <span>Three JS</span>
      <app-threejs-cube-scene></app-threejs-cube-scene>
      <!--app-threejs-cube-scene-alternative></app-threejs-cube-scene-alternative-->
    </div>
    <div class="col-xs-6 borderLeft">
        <span>Unity WebGL</span>
        <app-unity-webgl [sceneSource]="'./assets/unity/Builds.json'"></app-unity-webgl>
    </div>
  </div>
</div>
