<table *ngIf="data" class="table table-bordered table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th *ngFor="let c of cleanCategories; let i=index">
        {{c.charAt(0).toUpperCase()+c.slice(1)}}
      </th>
      <th>
        <button 
          class="btn btn-xs"
          [ngClass]="isPlot ? 'btn-success' : 'btn-default'"
          (click)="isPlot=!isPlot">
          Plot
        </button>
      </th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <ng-template ngFor #row [ngForOf]="data">
        <ng-template ngFor #d [ngForOf]="row">
          <td *ngIf="d !== 'id'">{{d}}</td>
        </ng-template>
      </ng-template>
      <td>
        <button type="button" class="btn btn-danger">✖</button>
      </td>
    </tr>
    <!--DataTableAppendRow [categories]="cleanCategories" handleRowAdd={this.handleRowAdd} /-->
  </tbody>
</table>
<app-d3-bar-chart *ngIf="isPlot" [data]="animal_data"></app-d3-bar-chart>
